#!/bin/bash
# /etc/init.d/riseberry

### BEGIN INIT INFO
# Provides:          riseberry
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: riseberry alarm clock
# Description:       This service is used to manage a riseberry instance
### END INIT INFO


case "$1" in 
    start)
        echo "Starting riseberry"
        nohup {{riseberryd_keepalive_path}} >> {{riseberryd_log_path}} 2>&1 &
        ;;
    stop)
        echo "Stopping riseberry"
        sudo pkill -f -9 riseberry
        ;;
    *)
        echo "Usage: /etc/init.d/rise start|stop"
        exit 1
        ;;
esac

exit 0
